In [2]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv('final_tweets.csv')

In [6]:
train.head()

                                              Tweets  Label
0                                                NaN      0
1  @mention THE WAY FREEKBZ CEO OFF FULLBLASS ENT...      0
2  Police Boy found dead luxury Manhattan hotel @url      1
3                       Tomando uma cerveja downtown      0
4  @mention Diretor Lua Nova filme sem sexo subve...      0

In [7]:
train.dropna(inplace=True)
train.head()

                                              Tweets  Label
1  @mention THE WAY FREEKBZ CEO OFF FULLBLASS ENT...      0
2  Police Boy found dead luxury Manhattan hotel @url      1
3                       Tomando uma cerveja downtown      0
4  @mention Diretor Lua Nova filme sem sexo subve...      0
5               Pitura abstracta Abstract paint @url      0

In [9]:
train.to_csv("final_tweets.csv", index=False)

In [10]:
spam_dict = {}
ham_dict =  {}
corpus = []

In [11]:
for tweet in train['Tweets']:
    corpus.extend(tweet.split())

In [12]:
corpus[:20], len(corpus)

(['@mention',
  'THE',
  'WAY',
  'FREEKBZ',
  'CEO',
  'OFF',
  'FULLBLASS',
  'ENT',
  'MARKETING',
  'AND',
  'PROMO',
  'COMPANY',
  'DBLOCK',
  'RUFFRYDER',
  'Police',
  'Boy',
  'found',
  'dead',
  'luxury',
  'Manhattan'],
 930700)

In [13]:
for i in range(len(train)):
    spam = train.iloc[i,1]
    if(spam == 1):
        cur_dict = spam_dict
    else:
        cur_dict = ham_dict 
    tweet = train.iloc[i, 0].split()
    for word in tweet:
        if word in cur_dict:
            cur_dict[word] += 1
        else:
            cur_dict[word] = 1

In [14]:
len_doc = len(corpus)
len_spam = len(spam_dict)
len_ham = len(ham_dict)
print(len_doc, len_ham, len_spam)

930700 82448 68292

In [15]:
import pickle

pickle_out = open("spam_dict.pickle","wb")
pickle.dump(spam_dict, pickle_out)
pickle_out.close()

pickle_out = open("ham_dict.pickle","wb")
pickle.dump(ham_dict, pickle_out)
pickle_out.close()

pickle_out = open("corpus.pickle","wb")
pickle.dump(corpus, pickle_out)
pickle_out.close()

In [17]:
list(train['Label']).count(1), list(train['Label']).count(0)

(49899, 47734)